<!doctype html>
<html>
<head>
<title>Music Maker</title>
<style type="text/css" media="screen">
    #editor { 
	width:100%;
	height:500px;
    }
</style>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">	
<script src="/scripts/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/scripts/music_maker_index.js"></script>
<script src="/scripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/ace/ext-language_tools.js"></script>
<script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script>

</head>
<body>

<div class="container">
<div class="row">
	<div class="col-md-8">

<div>
	<button type="button" class="btn btn-primary" onclick="buildMusic()">Play</button>
	<button type="button" class="btn btn-primary" onclick="MIDIjs.stop();">Stop</button>
</div>
<div id="editor">
var fs   = require('fs');
var Midi = require('jsmidgen');
var Util = require('jsmidgen').Util;
var mm   = require('./MusicMaker');

var beat=128;

module.exports = {
    
main: function(){
    var trackList = new Array();
    
    var track = new Midi.Track();
    track.setTempo(180);
    trackList.push(track);
    
    track.addNote(0,"c4",beat);
    track.addNote(0,"c4",beat);
    track.addNote(0,"g4",beat);
    track.addNote(0,"g4",beat);
    track.addNote(0,"a4",beat);
    track.addNote(0,"a4",beat);
    track.addNote(0,"g4",beat*2);
    
    return trackList;

}

}
</div>
<div class="alert alert-success" role="alert" id="divAlert">
  Welcome To Music Maker!
</div>


</div>

<div class="col-md-4" style="height:600px; overflow-y: scroll">
	{% include "help.html" %}
</div>

</div>

</div>
    
<script>
var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/javascript");
editor.setOptions({
    enableBasicAutocompletion: true,
    enableSnippets: false,
    enableLiveAutocompletion: true
});

editor.commands.addCommand({
    name: 'buildMusic',
    bindKey: {win: 'Ctrl-B',  mac: 'Command-B'},
    exec: function(editor) {
        buildMusic();
    },
    readOnly: false // false if this command should not apply in readOnly mode
});


</script>
</body>
</html>
